.files {
}

.files span {
	display: block;
	margin-bottom: 10px;
}

.files hr {
	height: 0px;
	clear: both;
}

.files a {
	position: absolute;
	left: 0px;
	display: block;
	outline: 0;
	width: 260px;
	padding: 6px 0px 8px 37px;
	text-decoration: none;
	text-align: left;
	padding: 6px 0px 8px 37px;
}

.fileslink, .fileslinkup, .filesfile {
	position: relative; 
	display: block;
	float: left;
	height: 32px;
	width: 300px;
	background-image: url("/common/images/folder.png");
	background-repeat: no-repeat;
}

.fileslinkup {
	background-image: url("/common/images/folder_up.png");
}

.filesfile {
	background-image: url("/common/images/file.png");
}

.fileimage {
	background-image: url("/common/images/file_image.png");
}

.filearchive {
	background-image: url("/common/images/file_archive.png");
}

.fileexecutable {
	background-image: url("/common/images/file_executable.png");
}
