html, body {
	margin: 0px;
	padding: 0px;
	background-color: #555555;
	
	font-family: sans; 
}

div, h1, h2, h3, h4, h5, a, span, p, hr, ul, li, img {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5 { color: #ffffff; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }

.clear { clear: both; }

/* ###############
 * Fixed
 * ###############
 */

#fixedtop {
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:90;
	
	width:100%;
	height:34px;
	
	background-color:#ffffff;
}

/* ###############
 * Menubar
 * ###############
 */

#menubar {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	
	width:100%;
	height:34px;
	
	color:#000000;
	background-color:#aaaaaa;
	box-shadow:	/*top*/		inset 0 7px 7px -5px rgba(0,0,0,0.5),
				/*bottom*/	inset 0 -8px 8px -5px rgba(0,0,0,0.5);
	border-bottom: 1px solid #999999;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 110;
	
	height: 34px;
	width: 34px;
	
	background-image: url('/common/images/reiz/logo_32.png');
	background-position:center;
	background-repeat: no-repeat;
}

ul.menu {
	margin: 0px;
	margin-left: 40px;
	padding: 0px;
	padding-top: 7px;
	height: inherit;
	
	list-style: none;
}

ul.menu li {
	float: left;
	
	margin: 0px;
	padding: 0px;
}

ul.menu a {
	display: block;
	
	height: 24px;
	vertical-align: middle;
	
	margin: 0px;
	padding: 3px 10px 0px 10px;
	
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: Capitalize;
}

ul.menu a.selected {
	height: 22px;
	padding-top: 4px;
	
	color: #000000;
	background-color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #aaaaaa;
	border-bottom: none;
}

ul.menu a:hover {
	color: #000000;
}

/*
 * ###############
 * Options
 * ###############
 */

#optionsbar {
	display:block;
	position:relative;
	left: 5%;
	
	width:90%;
}

ul.options {
	margin: 0px;
	padding: 0px;
	
	height: 30px;
	
	list-style: none;
}

ul.options li {
	float: left;
	
	margin: 0px;
	padding: 0px;
}

ul.options a {
	display: block;
	height: 22px;
	
	margin-right:5px;
	padding:0px;
	
	background-color:#cccccc;
	border:1px solid #bbbbbb;
	border-radius: 6px;
	box-shadow:	inset 0 7px 5px -5px rgba(255,255,255,1);
	
	text-decoration: none;
}

ul.options a img, ul.options a span {
	display:inline-block;
	height:16px;
	
	color: #888888;
	font-size: 12px;
	font-weight: bold;
	text-transform: Capitalize;
}

ul.options a img {
	margin-left:5px;
	vertical-align: middle;
}

ul.options a span {
	margin-right:8px;
}

ul.options a span.noicon {
	margin: 5px 8px;
}

ul.options a.selected {
	height: 20px;
	padding-top: 7px;
	
	color: #000000;
	background-color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #aaaaaa;
	border-bottom: none;
}

ul.options a:hover {
	color: #000000;
	/*box-shadow: inset 0 15px 10px -10px rgba(0,0,255,0.75),
				inset 0 -15px 10px -10px rgba(128,128,255,1);*/
}

/* ###############
 * Content
 * ###############
 */

#wrapper {
	display:block;
	position:relative;
	margin-right:auto;
	margin-left:auto;
	
	margin-top:40px;
	
	width:100%;
	height:auto;
}

#box {
	
}

.box_title {
	display:block;
	position:relative;
	padding-left: 7.6666%;
	padding-top: 10px;
	
	height: 60px;
	width:100%;
	
	background: #666666;
	/*box-shadow: inset 0 15px 10px -10px rgba(0,0,0,.25);
	border-top: 1px solid #999999;*/
}

.box_main {
	display:block;
	position:relative;
	margin: -20px auto 30px auto;
	
	width:90%;
	height: auto;
}

.box_content {
	background: #888888;
	border: 1px solid #999999;
	border-radius: 10px;
	/*box-shadow:	inset 0 0 10px 0 rgba(0,0,0,0.5);*/
}

.box_content_left, .box_content_right {
	display: block;
	width: 49%;
	height: auto;
	
	background: #888888;
	border: 1px solid #999999;
	border-radius: 10px;
}

.box_content_left, .box_content_right {
	float: left;
}

.box_content_right {
	float: right;
}

.box_main .content {
	margin: 10px;
}

/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

/* table.row */

.table_row {
	background-color: #f5f5f5;
	border-bottom: 1px solid #aaaaaa;
}

.table_alternate_row {
	background-color: #eeeeee;
}

/* table.cell */

.table_cell {
	border-left: 1px solid #aaaaaa;
}

.table_cell input, .table_cell select {
	width: 96%;
	height: 20px;
	margin: 2px 2% 2px 2%;
	box-sizing: border-box;
}

.table_last_cell {
	margin: 0;
	padding: 4px 4px 0 4px;
    width:1%;
    white-space:nowrap;
	border-right: 1px solid #aaaaaa;
	text-align: right;
}

/* table.header */

.table_header_cell {
	background-color: #cccccc;
	font-weight: bold;
}

.table_alternate_header_cell {
	background-color: #c0c0c0;
}

.table_header_row {
	border: 1px solid #aaaaaa;
}

/* Form */

.form {
}

select, input, textarea {
	left: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	resize: none;
}

.formtext {
	display: block;
	width: 100%;
	clear: both;
	font-size: 2px;
}

.formline {
	display: block;
	width: 100%;
	height: 24px;
	clear: both;
}

.formline label {
	display: inline-block;
	float: left;
	height: 16px;
	width: 30%;
}

.formline input, .formline select, .formline textarea, .formline button {
	display: inline-block;
	float: left;
	min-height: 18px;
	width: 69%;
	margin-bottom: 4px;
	
	color: #000000;
	border: 1px solid #dddddd;
	border-radius: 2px;
	background-color: #eeeeee;
}

.formline input:focus, .formline select:focus, .formline textarea:focus {
	border-color: #cccccc;
	background-color: #ffffff;
}

.formline input.checkbox {
	width: auto;
}

.formline .submit, .formline button {
	margin-left: 30%;
	border-color: #bbbbbb;
	background-color: #cccccc;
}

.formline .submit:focus, .formline .submit:hover, .formline button:focus, .formline button:hover {
	/*margin-left: 30%;
	border-color: #bbbbbb;*/
	background-color: #dddddd;
}

.hidden {
	display: none;
}

.popupbackground {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 300%;
	
	background-color: #555555;
}

.popup {
	position: relative;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	width: 400px;
	height: 100px;
	
	background: #888888;
	border: 1px solid #999999;
	border-radius: 10px;
}