#wrapper
{
	width: 50% !important;
}

#bigbox {
	position: absolute;
	top: 100px;
	left: 0px;
	z-index: 10;
	
	width: 100%;

	text-align: center;

	background-color: #aaaaaa;
	border: 3px solid #ffffff;
	
	box-shadow: inset 0 0 25px 10px rgba(0,0,0,0.2);
	border-radius: 25px;
}

#bigbox-top, #bigbox-bottom {
	position: relative;
	display: block;
	padding: 15px;
}

#bigbox-logo {
	position: absolute;
	top: 5px;
	left: 5px;
	
	width: 50px;
	height: 50px;
	
	background-image: url('/common/images/reiz/logo_48.png');
	background-position: 1px 1px;
	background-repeat: no-repeat;
}

#bigbox-title {
	display: block;
	
	text-align: center;
	vertical-align: middle;
	
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

#bigbox-content {
	padding: 20px 0px;
	/*position: absolute;
	top: 90px;
	left: 0px;
	
	width: 600px;
	height: auto;
	
	text-align: center;
	vertical-align: middle;
	
	color: #ffffff;
	font-size: 16px;*/
}

form .line {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	width: 100%;
	margin-top: 5px;
}

form .line label {
	display: inline-block;
	width: 25%;
	
	text-align: left;
}

form .line .group {
	display: inline-block;
	width: 50%;
}

form .line .group input {
	width: 100%;
	height: 30px;
	
	border: 1px solid #ffffff;
	border-radius: 3px;
}
