.breadcrumbs {
	display: block;
	height: 12px;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-align: left;
	text-transform: capitalize;
}

.breadcrumbs ul, .breadcrumbs li, .breadcrumbs a, .breadcrumbs span.separator {
	display: inline;
}

.breadcrumbs ul {
	list-style: none;
}

.breadcrumbs a, .breadcrumbs span.separator {
	margin-right: 5px;
}

.breadcrumbs a {
	text-decoration: none;
}

.breadcrumbs a:hover {
}